# Configurações do banco de dados
DB_URL=jdbc:mysql://160.20.22.99:3360/fasiclin
DB_USERNAME= Aluno4
DB_PASSWORD= AlunoADS23045063036675*

# Outras configurações sensíveis
# spring.mail.host=smtp.example.com
# spring.mail.username=usuario_email
# spring.mail.password=senha_email
# api.key=chave_api_secreta

# Observação: Este é um arquivo de exemplo. Crie um arquivo .env com os valores reais.